@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

*{
   font-family: "Outfit", sans-serif;
}

@theme{
  --color-primary : #E6CCFF;
}
::-webkit-scrollbar{
  display : none;
}
.reset-tw :not(pre):not(code){
  all : revert;
}
.loader div:nth-child(2){
  animation-delay: 0.2s;
}
.loader div:nth-child(3){
  animation-delay: 0.2s;
}





.delete-btn,
.logout-btn {
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

/* SHOW ON HOVER */

.chat-item:hover .delete-btn,
.user-item:hover .logout-btn {
  opacity: 1;
  visibility: visible;
}

/* HOVER EFFECT */

.delete-btn:hover,
.logout-btn:hover {
  transform: scale(1.1);
}

/* LIGHT MODE */

.delete-btn,
.logout-btn {
  filter: invert(1);
}

/* DARK MODE */

.dark .delete-btn,
.dark .logout-btn {
  filter: invert(0);
}